<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <provider android:authorities="com.spotify.mobile.android.mediaapi" />
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicWidget">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WidgetConfigActivity"
            android:exported="true"
            android:theme="@style/Theme.MusicWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ArtworkDetailActivity"
            android:exported="false"
            android:launchMode="standard"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Theme.MusicWidget.Viewer" />

        <activity
            android:name=".PermissionsTrampolineActivity"
            android:theme="@style/Theme.MusicWidget.Trampoline"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:exported="false" />

        <service
            android:name=".MusicNotificationListener"
            android:exported="true"
            android:label="Music Listener Service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".MusicWidgetFullReceiver"
            android:exported="true"
            android:label="@string/label_widget_full">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_info_full" />
        </receiver>

        <receiver
            android:name=".MusicWidgetPillReceiver"
            android:exported="true"
            android:label="@string/label_widget_now_playing">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_info_pill" />
        </receiver>

        <receiver
            android:name=".MusicWidgetControlReceiver"
            android:exported="true"
            android:label="@string/label_widget_history">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_info_control" />
        </receiver>
    </application>

</manifest>